/*我看过的消息列表样式*/
.seen_list ul li{
    width: 250px;
    display: inline-block;
    text-align: center;
    margin-right: 60px;
    margin-top: 50px;
}
.seen_list ul li:nth-child(4n){
    margin-right: 0;
}
.seen_list ul li .product{
    overflow: hidden;
    width: 250px;
    height: 145px;
}
.seen_list ul li .product img{
    display: inline-block;
}
.seen_list ul li .title{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.seen_list ul li .price{
    font-size: 18px;
}
.seen_list ul li .price s{
    font-size: 14px;
    margin: 0 10px;
}
.seen_list ul li .price span{
    color: #f60000;
}